/*body {*/
/*    margin: 5px;*/
/*    padding: 5px;*/

/*}*/



.testsuite {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin: 5px;
    padding: 5px;
}

.action {
    text-indent: 12px;
    /*width: fit-content;*/
}



.testcase {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

.keyword {
    font-weight: 700;
}

.action .response {
    padding-left: 12px;
    padding-top: 5px;
}

.root-btn {
    display: block;
}

.btn {
    margin: 5px;
}

button.up {
    margin: 5px;
}
[type=and],
[type=or] {
    /* display: inline-block; */
}

ul {
    list-style-type: none;
}

.caret {
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

.caret::before {
    content: "\2BC8";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    content: '\2BC6';
}




/*.action {*/
/*    display: inline-block;*/
/*}*/

/*[type=and],[type = or] .action {*/
/*    display: block;*/
/*}*/

ol.actions.outter > li > div.action > ol.nested.active.actions > li{
    display: inline-block;
    vertical-align: top;

}

ol.actions.outter > li > div.action > ol.nested.active.actions > li > div:first-child{
    display: inline-block;

}

/*ol.actions.outter > li > div.action > ol.nested.active.actions .action {*/
/*    display: inline-block;*/
/*}*/

ol.actions.outter > li > div.action[type = and] > ol.nested.active.actions > li:not(:first-child)::before {
    content: "&";
    vertical-align: top;
    transform: translateY(20%);
    display: inline-block;
}


ol.actions.outter > li > div.action[type = or] > ol.nested.active.actions > li:not(:first-child)::before {
    content: "|";
    vertical-align: top;
    transform: translateY(20%);
    display: inline-block;
}

ol > li {
    margin-left: 10px;
}

/* [type = and] >:nth-child(2)::before, [type = or] >:nth-child(2)::before {
    content: "(";
} */

/* [type = and] >:last-child:after, [type = or] > :last-child::after {
    content: ")";
} */



ol {
    counter-reset: item;
}

/*ol > li > div > div > button{*/
/*    */
/*}*/

ol > li > div.action > div.dropend > button.dropdown-toggle::after{

    content: counters(item, ".") " ";
    counter-increment: item;
    border: none;
}

[type = and] > ol > li {
    margin-left: 40px;
}

[type = and] > ol > li:first-child::marker{
    content: "";
}

[type = or] > ol > li:first-child::marker{
    content: "";
}

[type = and] > ol > li:not(:first-child)::marker{
    /*content: "&   " counters(item, ".") " ";*/
    content: "&   ";
}

[type = or] > ol > li:not(:first-child)::marker{
    /*content: "|   " counters(item, ".") " ";*/
    content: "|   ";
}

.up::after {
    content: "\25B7";
}

.down::after {
    content: "\25BD";
}

button {
    border: 1px solid grey;
}

li::marker {
    vertical-align: top;
}

.action {
    position: relative;
}

.action .info {
    position: fixed;
    border-radius: 5px;
    background-color: khaki;
    text-align: center;
    text-indent: 0px;
    padding: 0px;
    /*max-width: max-content;*/
    font-size: smaller;
    padding-inline: 5px;
    /*display: inline;*/
    /*transform: translate(25%, -260%);*/
}
.btn-group.dropend{
    margin: 0px;
}

.dropdown {
    position: relative;
}
.dropdown-content{
    border-radius: 5px;
    float: right;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-btn {
    background-color: #6c757d;
    color: white;
    border-radius: 5px;
    display: inline-block;
    width: fit-content;

}

.dropdown-content a{
    color: black;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content{
    display: inline-block;
}

.nested {
    display: none;
}

.active {
    display: block;
}

/*.delete-button {*/
/*    background: darkred;*/
/*}*/
/*.action .info {*/
/*    display: none;*/
/*}*/

/*.action:hover .info {*/
/*   display: inline;*/
/*}*/
