<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Suite" parallel="methods" thread-count="5" >
    <test name="Test1 demo" group-by-instances="true">
        <groups>
            <run>
<!--                <include name="group3"/>-->
<!--                <exclude name="group3" />-->
            </run>
        </groups>
        <classes>
            <class name="org.invalid.TestClass1" />
            <class name="org.invalid.TestClass2" />
        </classes>
    </test>
</suite>